@tailwind base;
@tailwind components;
@tailwind utilities;








:root {
  --background: 128 100% 100%;
  --foreground: 128 5% 10%;
  --card: 128 50% 100%;
  --card-foreground: 128 5% 15%;
  --popover: 128 100% 100%;
  --popover-foreground: 128 100% 10%;
  --primary: 128 100% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 128 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 90 30% 95%;
  --muted-foreground: 128 5% 40%;
  --accent: 90 30% 90%;
  --accent-foreground: 128 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 128 5% 100%;
  --border: 128 30% 82%;
  --input: 128 30% 50%;
  --ring: 128 100% 29%;
  --radius: 0.5rem;
 }
 .dark {
  --background: 128 13% 5%;
  --foreground: 128 5% 90%;
  --card: 128 13% 0%;
  --card-foreground: 128 5% 90%;
  --popover: 128 13% 5%;
  --popover-foreground: 128 5% 90%;
  --primary: 128 100% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 128 13% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 90 13% 15%;
  --muted-foreground: 128 5% 60%;
  --accent: 90 13% 15%;
  --accent-foreground: 128 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 128 5% 90%;
  --border: 128 20% 18%;
  --input: 128 20% 18%;
  --ring: 128 100% 29%;
  --radius: 0.5rem;
 }








@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply hover:text-primary;
  }
  /* globals.css */

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-template-rows: repeat(10, 1fr); 
  z-index: 1000;
}

.page-loader div {
  background-color: #000; 
  animation: block-fade 0.6s ease-in-out forwards;
  opacity: 1;
}

@keyframes block-fade {
  to {
    opacity: 0;
  }
}

.page-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page-content.loaded {
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.loaded {
  opacity: 1;
}

:root {
  --banner-light-color: black;
  --banner-dark-color: white;
}


.bg-banner {
  background-color: var(--banner-light-color);
}


.dark .bg-banner {
  background-color: var(--banner-dark-color);
}

.input-line .prompt {
  color: #009413; 
}

.clickable-command {
  color: #009413;
  cursor: pointer;
  text-decoration: none;
}

.clickable-command:hover {
  text-decoration: none; 
}


.input-line input {
  background-color: transparent; 
  border: 1px  ; 
}

.animate {
  animation: slideIn 1s ease-in-out forwards;
}


.react-resizable-handle {
  background-color: transparent; 
}


@media (prefers-color-scheme: dark) {
  .react-resizable-handle {
    background-color: white; 
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 150;
  height: 60px; 
}

.dark .footer-left img {
  filter: invert(1);

}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right a {
  margin-left: 10px; 
}

.footer-right img {
  width: 20px;
  height: 20px;
}

.footer-center {
  font-size: 0.875rem; 
}



.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.input-arrow {
  position: absolute;
  top: 42%; 
  left: -20px; 
  transform: translateY(-50%) rotate(-90deg); 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid; 
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%) rotate(-90deg) translateX(0);
  }
  50% {
    transform: translateY(-50%) rotate(-90deg) translateX(-5px);
  }
}



@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {

  .login-button {
      display: none;
  }
  }
}